<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connection" value="Endpoint=sb://competingconsumer.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=MK2y+Aiz8bN/GLNrOsd8mvxOT8ey+ikz25b5JVn7xFs=" />
    <add key="queue" value="OrderQueue" />
  </appSettings>
</configuration>